<div class="container">
  <div class="down row mt-5">
    <div class="col-md-3">
      <div class="dropdown">
        <button class="btn btn-outline-dark btn-block dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{#if filterMonth}}
          {{{filterMonth}}}
          {{else}}
          月份
          {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">一月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">二月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">三月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">四月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">五月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">六月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">七月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">八月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">九月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">十月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">十一月</a>
          <a class="dropdown-item" href="/?filterMonth={{this.number}}&filterCategory={{filterCategory}}">十二月</a>
          <a class="dropdown-item" href="/?filterMonth=&filterCategory={{filterCategory}}">不分月份</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dropdown2">
        <button class="btn btn-outline-dark  btn-block dropdown-toggle" type="button" id="dropdownMenuButton2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          {{#if filterCategory}}
          {{{filterCategory}}}
          {{else}}
          類別
          {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" href="/?filterCategory=home&filterMonth={{filterMonth}}">家居物業</a>
          <a class="dropdown-item" href="/?filterCategory=shuttle-van">交通出行</a>
          <a class="dropdown-item" href="/?filterCategory=grin-beam&filterMonth={{filterMonth}}">休閒娛樂</a>
          <a class="dropdown-item" href="/?filterCategory=utensils&filterMonth={{filterMonth}}">餐飲食品</a>
          <a class="dropdown-item" href="/?filterCategory=pen&filterMonth={{filterMonth}}">其他</a>
          <a class="dropdown-item" href="/?filterCategory=&filterMonth={{filterMonth}}">不分類別</a>
        </div>
      </div>
    </div>
  </div>

  <div class="total row mt-5">
    <h4>總金額:</h4>
    <p class="amount">{{{amount}}}</p>
  </div>

  {{#each records}}
  <div class="card-row mt-3">
    <div class="row">
      <div class="awesome mt-3">
        <i class="{{{category}}}"></i>
      </div>

      <div class="category card-body">
        <h4 class="name">{{{name}}}</h4>
        <p class="date">{{{date}}}</p>
      </div>

      <div class="card-body mt-2">
        <p class="money">{{{amount}}}</p>
      </div>

      <div class="edit card-end mt-4">
        <a href="/record/{{{id}}}/edit" class="btn btn-success">修改</a>
      </div>

      <div class="delete card-end mt-4">
        <form action="/record/{{{id}}}/delete" method="POST">
          <button type="submit" class="btn btn-info">刪除</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}

  <a href="/record/new" class="create btn btn-danger mt-5 mb-5">新增支出</a>
</div>